.Form__container {
    padding: 4rem .5rem;
}


.Form__buttonBox {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.Form__button {
    padding: .2rem;
    margin: .2rem;
}

#registerPassword {
    margin: .2rem;
}