.technique__body {
    padding: 4rem .2rem;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.techniqueHome__buttons {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.technique__card {
    margin: 1rem;
}

.technique__card--body {
    margin: .05rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.technique__form--priority {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.technique__detail--container {
    margin: 4rem .5rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.technique__detail--checkbox {
    margin: .3rem;
}

.technique__detail--buttonBox {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.technique__detail--button {
    margin: 1rem;
}

.technique__detail--containerItem {
    margin: 1rem;
}